<div class="row-fluid">
    <h2>Info</h2>
    <pre>
     #
     #Year: 2017 ;
     #MyTicApp v1.00 ;
     #
     #Project name: MyTicApp ;
     #
     #Enjoy!
     #
    </pre>
    <br>
    The project uses:
    <ul>
        <li>HTML</li>
        <li>JSP</li>
        <li>JavaScript</li>
        <li>AngularJS</li>
        <li>JSON</li>
        <li>Java</li>
        <li>DBMS</li>
        <li>FrameWorks</li>
        <li>Design Patterns</li>  
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>JQuery</li>
    </ul>
    <br>    
    <p>
        <IMG SRC="img/services/webSystem.png" ALT="webSystem">
    </p>
    <br>
    Overview:
    
    <p>
        <IMG SRC="img/services/model.png" ALT="Model">
    </p>
    <br>
    
    <form action="welcome.jsp?yname=Test/#help" name="frmDemo" > 
    <p id="RT"><B>Options.</B></p>
        <input type="radio" name="rname" value="To CRM1 Info" checked="">Request Tracker.<br>
        <input type="radio" name="rname" value="To CRM2 Info">MyTicApp.<br>
        <input type="radio" name="rname" value="To CRM3 Info">Help Desk.<br>
        <input type="radio" name="rname" value="To CRM4 Info">Customer Relationship Management System.<br>
    <br>
    It is good to know that this project can be written in different programming languages.<br>
    Other options are PHP and C#.<br>
    Developers today increasingly recognize the need for distributed, transactional, and<br>
    portable applications that leverage the speed, security, and reliability of server-side<br>
    technology. Enterprise applications (EA) provide the business logic for an enterprise.<br>
    They are centrally managed and often interact with other enterprise software.<br> 
    In the world of IT, EA must be designed, built, and<br>
    produced for less money, with greater speed, and with fewer resources.<br>
    <b>MyTicApp</b> provides the integration platform for the front-end applications as well as the back-end applications.<br>
    The emphasis is on "EA" frameworks.<br>
    Using the JavaEE model.<br>
    <br>
      <ul>
        <li>
            <input type="image" alt="More..." src="img/more.png"/> 
        </li>
      </ul> 
    </form>


        
    
</div>
 