
<p><img src="img/myticapp.png" alt="myticapp">
<div class="container">

    <!-- Main unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>The Online System</h1>
        <p>Welcome to the online home of the MyTicApp. Our unique service brings you state of the art organic system, at your finger tips.</p>
    </div>

    <!-- Info  -->
    <div class="row-fluid">
        <div class="span3">
            <h2>Info</h2>
            <p><a href="#/info"><img src="img/myticapp.png" alt="myticapp"></a></p>
        </div>
        <div class="span3">
            <h2>Help desk</h2>
            <p><a href="#/help"><img src="img/categories/help.jpg" alt="Help Desk"></a></p>
        </div>
        <div class="span3">
            <h2>Technical support </h2>
            <p><a href="#/technical"><img src="img/categories/technical.jpg" alt="Technical Support"></a></p>
        </div>
        <div class="span3">
            <h2>Research&nbsp;&AMP;&nbsp;Development</h2>
            <p><a href="#/research"><img src="img/categories/research.jpg" alt="Research And Development"></a></p>
        </div>
    </div>

</div>
